<article class="site-page" data-template-page>
  <header class="page-masthead">
   
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
</article>
