<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}

  <div class="product-section--container">
    <div id="fira-container" style="height: 600px; width: 100%;"></div>
    <script src="https://firalivepro.blob.core.windows.net/scripts/fira-script.js" data-firakey="6149e3a285a51e01f6d94c85"></script>
  </div>
</article>